@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #01a0a9;
  border-radius: 10px;
}

/* Optional: Add hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #e0e0e0;
}

html {
    scroll-behavior: smooth;
  }

  
  .inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 2;
  }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  margin: 0 !important;
}

.appBg{
    background-color: #d5fffd;
}

.fc{
    display: flex;
    align-items: center;
    justify-content: center;
}




